<div class="album py-4 bg-white">
    <div class="container">
<%= link_to new_hotel_path do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1581668960114-228309685780?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fG1hdXJpdGl1c3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60)">
            <div class="container h-100">
                <div class="d-flex h-100 align-items-center text-white">
                    <div class="container-fluid py-5 hello">
                        <h1 class="display-5 fw-bold mx-2">List your hotel</h1>
                        <p class="col-md-8 fs-4">Let everyone know  about your amazing offers..</p>
                    </div>
                </div>
            </div>
        </div>
<% end %>
    </div>
</div>