<%= render 'shared/hero' %>

<!-- START OF SEPERATION -->
<div class="container">
    <div class="container-fluid mt-5 border-bottom">
        <h3 class="display-8 fw-bold mx-3">Explore Hotels</h3>
        <p class="col-md-8 fs-6">Browse our amazing selection of hotels with amazing prices...</p>
    </div>
</div>
<!-- END OF SEPERATION -->

<%= render 'shared/cards' %>

<%= render 'shared/big-card' %>

