<div class="position-static d-block bg-white py-5 h-100" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="height:90vh;">
        <div class="modal-content rounded-4 shadow" style="border-radius: 12px;">
            <div class="modal-header p-5 pb-4 border-bottom-0 bg d-flex justify-content-center">
            <!-- <h5 class="modal-title">Modal title</h5> -->
            <h2 class="fw-bold mb-0">Edit Hotel</h2>
            </div>
            <div class="modal-body p-5 pt-0">
                <%= simple_form_for @hotel, url: hotels_path, method: :post do |f|  %> 
                    <%= f.input :name, label: "Name of Hotel" %>
                    <%= f.input :address, label: "Location" %>
                    
                    <p class="mt-4">
                        <%= f.button :submit, value: 'Update Hotel', class: "w-100 btn btn-primary btn-lg" %>
                    </p>
                <% end %>
            </div>
        </div>
    </div>
</div>